# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @launchdarkly/squad-flag-lifecycle

# Documentation
*.md @launchdarkly/squad-docs

# Change log is updated by release bot
CHANGELOG.md @launchdarkly/squad-flag-lifecycle
