name: Test and Generate Docs

on: pull_request

jobs:
  go-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      
      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed
        with:
          go-version-file: go.mod

      - name: Install datadog-ci
        run: npm install -g @datadog/datadog-ci

      - name: Install Dependencies
        run: |
          go install github.com/jstemmer/go-junit-report@v1.0.0
          go install github.com/kyoh86/richgo@v0.3.10
          go install gotest.tools/gotestsum@latest

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
        with:
          version: v1.62.2

      - name: Run tests with gotestsum
        run: |
          mkdir -p ${{ github.workspace }}/artifacts
          mkdir -p ${{ github.workspace }}/reports
          gotestsum --packages="./..." \
            --junitfile ${{ github.workspace }}/reports/go-test_go_tests.xml \
            --jsonfile ${{ github.workspace }}/artifacts/go-test_go_tests.json \
            --rerun-fails=2 \
            --rerun-fails-max-failures=10 \
            --rerun-fails-report ${{ github.workspace }}/artifacts/rerun_tests_go_tests.txt
          
      - name: Publish JUnit Tests
        uses: ./.github/actions/publish-junit
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        with:
          files: ${{ github.workspace }}/reports/go-test_go_tests.xml
          name: find-code-references-in-pull-request
          datadog: 'true'
          github: 'true'

  github-actions-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 20

      - name: Install action-docs
        run: npm install action-docs

      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: github-action-docs --all-files
